body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #02020a;
  --purple: #a547ff;
  --blue: #430aff;
  --limeBlue: #92d5e6;
  --lightGreen: #d3f6db;
}

body {
  background: #565656;
  background: -webkit-radial-gradient(circle, #565656 0%, #02020a 100%);
  background: radial-gradient(circle, #565656 0%, #02020a 100%);
  background-repeat: no-repeat;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
